---
layout: default
---

<article class="post detailed">
  <h1>{{ page.title }}</h1>
  {% include author.html %}

  <div>
    <p class="author_title">
      <a href="{{ author.web }}" target="_blank" >
        {{ author.name }}
      </a>
      ·  {{ page.date | date: "%B %e, %Y" }}
    </p>

    {% if page.last_modified_at %}
    <p class="author_title" datetime="{{ page.last_modified_at | date_to_xmlschema }}">(Updated: {{ page.last_modified_at | date: "%b %-d, %Y" }})</p>
    {% endif %}
    <div class="post-tags">
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
  </div>

  {% assign author = site.data.authors[page.author] %}

  <span style="margin-left: 10px; font-size: 15px;">
    Written by <a href="{{ author.web }}" target="_blank">{{ author.name }}</a>
    in {{ page.tag }}
    on <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_long_string }}</time>
  </span>

  <div class="entry">
    {{ content }}
  </div>
  <br>

  {% include disqus.html %}
</article>

{% include analytics.html %}
